<h1>login</h1>
<p>returning to the site? Come on in!</p>
<div class="row">
    <form class="col s12" method="POST" action="/auth/login">
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="text" name="email">
          <label for="first_name">Email</label>
        </div>
        <div class="input-field col s6">
            <input id="password" type="password" name="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" >Submit
                <i class="material-icons right">send</i>
              </button>
        </div>
    </form>
</div>
