<div class="container">
  <div class="center-align">
    <h1>Login</h1>
    <p>returning to the site? Come on in!</p>
    <div class="row">
      <form class="col s12" method="POST" action="/auth/login">
        <div class="row">
          <div class="input-field col s6">
            <input id="email" type="text" name="email">
            <label for="first_name">Email</label>
          </div>
          <div class="input-field col s6">
            <input id="password" type="password" name="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row center-align">
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<style>
  body{
    background-image: url("css/images/road.jpeg");
  }
</style>