<nav>
    <div class="nav-wrapper" id="nav-topper">
        <a href="/">Block Party</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <% if (currentUser) { %>
            <li><a href="/profile/user">Profile Page</a></li>
            <li><a href="/post/new">New Post</a></li>
            <li><a href="/post">Posts</a></li>
            <li><a href="/event">Events</a></li>
            <li><a href="/people">Peoples</a></li>
            <li><a href="/incident">Incidents</a></li>
            <% if (currentUser.admin) { %>
            <li><a href="/profile/admin">Admin Page</a></li>
            <% } %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><span>Hi, <%=currentUser.firstName%> &nbsp&nbsp</span></li>
            <% } %>
        </ul>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <% if (currentUser) { %>
        <li><a href="/profile/user">Profile Page</a></li>
        <li><a href="/post/new">New Post</a></li>
        <li><a href="/post">Post</a></li>
        <li><a href="/event">Events</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="/incident">Incidents</a></li>
        <% if (currentUser.admin) { %>
        <li><a href="/profile/admin">Admin Page</a></li>
        <% } %>
        <li><a href="/auth/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Sign Up</a></li>
        <% } %>
    </ul>
</nav>