<h1>Homepage</h1>


<div class="container center">
    <div class="row">
        <div class="col m12">
            <p>Welcome to Block Party</p>
            <P>Connecting you to your local community</P>
        </div>
    </div>
    <div class="row">
        <div class="col m6">
            <p>A place to support local business'</p>
            <p>Stay in the know about local events</p>
            <p>Check out the Peoples link to learn about the different cultures in your neighborhood. </p>
            <p>Be a part of the neighborhood watch</p>
        </div>
        <div class="col m6"></div>
    </div>
</div>