
<div class="hero-image">
    <div class="hero-text">
        <p id="img-p"><img id="balloon-img" src="css/images/white_balloon.svg" alt="balloon image"></p>
        <h1 id="home-text">Block Party</h1>
    </div>
</div>



<!-- <div class="container center">
    <div class="row">
        <div class="col m12">
            

            <P>Connecting you to your local community</P>
        </div>
    </div>
    <div class="row">
        <div class="col m6">
            <p>A place to support local business'</p>
            <p>Stay in the know about local events</p>
            <p>Check out the Peoples link to learn about the different cultures in your neighborhood. </p>
            <p>Be a part of the neighborhood watch</p>
        </div>
        <div class="col m6"></div>
    </div>
</div> -->