<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block Party</title>
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Holtwood+One+SC|Modak|Notable|Rammetto+One|Titan+One|Wendy+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    

</head>
<body>
    <%- include('partials/nav') %>
    <%- include('partials/alerts') %>
    <main>
    <%- body %>
    </main>
    <%- include('partials/footer') %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
        var elems3 = document.querySelectorAll('select');
        var instances3 = M.FormSelect.init(elems3, {});
        var elems4 = document.querySelectorAll('.carousel');
        var instances4 = M.Carousel.init(elems, options);
        //start date is current date
        var startDate = new Date()
        //setting (setFullYear) as current year - 30
        startDate.setFullYear(startDate.getFullYear() - 30)
        var elems2 = document.querySelectorAll('.datepicker')
        var instances2 = M.Datepicker.init(elems2, {
            autoClose: true,
            default: startDate,
            setDefaultDate: true,
            yearRange: 20,
            maxDate: startDate
        })
          
      });

   
    </script>
</body>
</html>