html,
body {
  height: auto;
  margin: 0;
  font-family: 'wendy one', arial;
}

#nav-topper {
  background-color: #004f88;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
    background-image: url("css/images/road.jpeg");
  }

main {
    flex: 1 0 auto;
    height: auto;
  }

  #map {
    display: block;
    width: 600px;
    height: 400px;
  }
  
  .coordinates {
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		position: absolute;
		bottom: 40px;
		left: 10px;
		padding: 5px 10px;
		margin: 0;
		font-size: 11px;
		line-height: 18px;
		border-radius: 3px;
		display: none;
  }

  /* .incCont{
    margin-top: 2em;
  } */

  #mapper{
    display: block;
    height: 300px;
    width: 300px;
  }


h1{
  color: white;
}

.feed{
  background: rgba(0,0,1,.5)
}
.headerer{
  background: rgba(0,0,1,.5)
}

span{
  color: #88bbdf;
}
.collapsible-body{
  background-color: black;
  
}
.collapsible-header{
  background-color: gray;
  color: #004f88;
}

.ico{
  width:100px;
  display:block;
  height:20px;
  background:black;
  color:white;
  text-decoration:none;
  padding-left:20px;
}
.ico:before{
  content: '';
  background:url("/css/images/white_balloons.svg");
  background-size:cover;
      position:absolute;
  width:20px;
  height:20px;
  margin-left:-20px;
}

.img-marker{
  height: 2em;
  width: auto;
}