<div class="container center feed">
    <div class="row">
        <div class="col s12">
            <h3>Travel around the world without leaving your neighborhood</h3>
            <h5>A page for the culturally curious</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s8">
            <% post.forEach(p => { %>
            <p><a href="post/<%=p.id%>"><%=p.headline%></a></p>
            <p><%=p.content%></p>
            <p>-<%=p.user.username%></p>
            <% }) %>
        </div>
        <div class="col s4">
            <ul class="collapsible expandable">
                <li>
                  <div class="collapsible-header"><i class="material-icons">restaurants</i>Eat</div>
                  <div class="collapsible-body"><span>-Try Dish Swapping - <br>Trade Jook for Congee, Pelmeni for Shumai, Focaccia for Naan</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">directions_run</i>Dance</div>
                  <div class="collapsible-body"><span>Ever wanted to learn the Viennese Waltz? You never know, your local barista may be an
                    expert.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">group</i>Speak</div>
                  <div class="collapsible-body"><span>Maybe your learning another language and you just want someone to talk
                    to.....</span></div>
                </li>
              </ul>
        </div>
        
    </div>

    

</div>
<style>
    body{
        background-image: url("css/images/friends2.jpeg");
        background-size: cover;
    }
    

</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems5 = document.querySelectorAll('.collapsible.expandable');
    var instances5 = M.Collapsible.init(elems5, {accordion:false});
  });
</script>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems5 = document.querySelectorAll('.carousel');
        var instances5 = M.Carousel.init(elems5, {});
    });
</script>