<div class="container center">
    <div class="row">
        <div class="col s12">
            <h3>Travel around the world without leaving your neighborhood</h3>
            <h5>A page for the culturally curious</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s8 feed">
            <% post.forEach(p => { %>
            <p><a href="post/<%=p.id%>"><%=p.headline%></a></p>
            <p><%=p.content%></p>
            <p>-<%=p.user.username%></p>
            <% }) %>
        </div>
        <div class="col s4">
            <ul class="collapsible expandable">
                <li>
                  <div class="collapsible-header"><i class="material-icons">restaurants</i>Eat</div>
                  <div class="collapsible-body"><span>-Try Dish Swapping - <br>Trade Jook for Congee, Pelmeni for Shumai, Focaccia for Naan</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">directions_run</i>Dance</div>
                  <div class="collapsible-body"><span>Ever wanted to learn Flamenco? You never know. Your local barista may be an
                    expert.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">group</i>Speak</div>
                  <div class="collapsible-body"><span>Maybe your learning another language and you just want someone to talk
                    to.....</span></div>
                </li>
              </ul>
        </div>
        
    </div>

    

</div>
<style>
    body{
        background-image: url("css/images/friends2.jpeg");
        background-size: cover;
    }
    span{
        color: white;
    }
    .collapsible-body{
        background-color: black;
    }
    .collapsible-header{
        background-color: gray;
        color: #004f88;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems5 = document.querySelectorAll('.collapsible.expandable');
    var instances5 = M.Collapsible.init(elems5, {accordion:false});
  });
</script>

<!-- <div class="col s3">
    <p class="carousel-item grey darken-4">Ever walked past your neighbors door while they were cooking and
        wondered what that
        amazing smell was? Try Dish Swap - Trade Jook for Congee, Pelmeni for Shumai, Focaccia for Naan</p>
    <p class="carousel-item">Ever wanted to learn Flamenco? You never know. Your local barista may be an
        expert.
        [insert dancer graphic here]</p>
    <p class="carousel-item">Or maybe your learning another language and you just want someone to talk
        to.....</p>
</div> -->





<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems5 = document.querySelectorAll('.carousel');
        var instances5 = M.Carousel.init(elems5, {});
    });
</script>