<link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>


<div class="container">
	
	<% post.forEach(p => { %>
		<p><%=p.headline%></p>
		<p class="coordi"><%=p.location.split(",")%></p>
		<p class="incType" type="hidden"><%=p.incType%></p>
		<% }) %>

		<div id="map"></div>
		<!-- <pre id="coordinates" class="coordinates"></pre> -->
</div>

<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoicnViYW5kbzIwNiIsImEiOiJjazk4eHZtbGkxbHh3M2duMTdpd3lxMWZ0In0.BRbBUA78Lc-K77-H8I4jCw';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v11',
		center: [-122.3567, 47.6246],
		zoom: 13
	});

	var coordi = document.getElementsByClassName('coordi')
		
	var markColor = ''


	//loop thru locations and add markers
	for (var i = 0; i < coordi.length; i++) {
		var splitted = coordi[i].textContent.split(",")
		var long = Number.parseFloat(splitted[0])
		var lat = Number.parseFloat(splitted[1])
		var incType = parseInt(document.getElementsByClassName('incType')[i].textContent)
		if (incType == 1){
			markColor = "rgb(0,153,0)"
		} 
		else if (incType == 2){
			markColor = "rgb(0,0,153)"
		}
		else if (incType == 3){
			markColor = "rgb(153,0,0)"
		}
		else if (incType == 4){
			markColor = "rgb(153,0,153"
		}
		else if (incType == 5){
			markColor = "rgb(204,204,0)"
		}
		else {
			markColor = "rgb(0,0,0)"
		}
		
		var marker = new mapboxgl.Marker({color: markColor}).setLngLat([long,lat]).addTo(map);

	}
	



	// function onDragEnd() {
	// 	//getLngLat() stores the markers coordinates in var lngLat
	// 	var lngLat = marker.getLngLat();
	// 	coordinates.style.display = 'block';
	// 	//displays marker coordinates in display box
	// 	coordinates.innerHTML =
	// 		'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
	// }
	// //??fired when marker is finished being dragged???
	// marker.on('dragend', onDragEnd);
</script>